DROP TABLE IF EXISTS `access_settings`;

CREATE TABLE `access_settings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `template_id` int NOT NULL,
  `user_id` int NOT NULL,
  `can_access` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `template_id` (`template_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `access_settings_ibfk_1` FOREIGN KEY (`template_id`) REFERENCES `templates` (`id`),
  CONSTRAINT `access_settings_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;



LOCK TABLES `access_settings` WRITE;

INSERT INTO `access_settings` VALUES (1,19,3,1),(5,17,1,1),(36,17,3,0);

UNLOCK TABLES;



DROP TABLE IF EXISTS `comments`;

CREATE TABLE `comments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `template_id` int NOT NULL,
  `user_id` int NOT NULL,
  `content` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `template_id` (`template_id`),
  KEY `user_id` (`user_id`),
  FULLTEXT KEY `content` (`content`),
  CONSTRAINT `comments_ibfk_1` FOREIGN KEY (`template_id`) REFERENCES `templates` (`id`),
  CONSTRAINT `comments_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


LOCK TABLES `comments` WRITE;

INSERT INTO `comments` VALUES (1,15,2,'Nice','2024-10-10 14:36:59'),(2,1,2,'Great!','2024-10-11 05:22:38'),(3,5,2,'Good!','2024-10-11 14:16:11'),(4,5,2,'Very Good!','2024-10-11 14:19:48');

UNLOCK TABLES;


DROP TABLE IF EXISTS `form_responses`;

CREATE TABLE `form_responses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `form_id` int DEFAULT NULL,
  `response_data` json DEFAULT NULL,
  `submitted_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


LOCK TABLES `form_responses` WRITE;


UNLOCK TABLES;



DROP TABLE IF EXISTS `forms`;

CREATE TABLE `forms` (
  `id` int NOT NULL AUTO_INCREMENT,
  `template_id` int DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  `answers` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `template_id` (`template_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `forms_ibfk_1` FOREIGN KEY (`template_id`) REFERENCES `templates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `forms_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


LOCK TABLES `forms` WRITE;

UNLOCK TABLES;



DROP TABLE IF EXISTS `likes`;

CREATE TABLE `likes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `template_id` int NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `template_id` (`template_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `likes_ibfk_1` FOREIGN KEY (`template_id`) REFERENCES `templates` (`id`),
  CONSTRAINT `likes_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;



LOCK TABLES `likes` WRITE;

INSERT INTO `likes` VALUES (1,17,2),(3,15,2),(5,1,2),(6,14,2),(7,16,2),(8,3,2),(11,4,2),(12,5,2),(13,16,3),(14,1,1);

UNLOCK TABLES;


DROP TABLE IF EXISTS `questions`;

CREATE TABLE `questions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `template_id` int DEFAULT NULL,
  `value` varchar(255) DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `options` text,
  `is_required` tinyint(1) DEFAULT '0',
  `showQuestion` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `template_id` (`template_id`),
  FULLTEXT KEY `value` (`value`),
  CONSTRAINT `questions_ibfk_1` FOREIGN KEY (`template_id`) REFERENCES `templates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=123 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


LOCK TABLES `questions` WRITE;


UNLOCK TABLES;



DROP TABLE IF EXISTS `templates`;

CREATE TABLE `templates` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text,
  `topic` varchar(255) DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `tags` text,
  `image_url` varchar(255) DEFAULT NULL,
  `likes_count` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  FULLTEXT KEY `title` (`title`,`description`),
  CONSTRAINT `templates_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;




LOCK TABLES `templates` WRITE;


UNLOCK TABLES;



DROP TABLE IF EXISTS `users`;

CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `is_admin` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `is_blocked` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


LOCK TABLES `users` WRITE;

INSERT INTO `users` VALUES (1,'Deena','deenafaria@gmail.com','$2b$10$bgLOBQrIZEJvjgyqUNjZnOK66DeJYdqfCFqfMuelOwBjE0bEd4j26',1,'2024-10-01 06:00:26',0),(2,'Shuvro','shuvro@gmail.com','$2b$10$db4Uwo7.hEJYYWAEmRnJue4HYP5ummg7WuagOTsJCjLhdHE5QIPMW',0,'2024-10-01 06:01:16',0),(3,'Antu','antu@gmail.com','$2b$10$3YRe1806xl1nGySbDRtw/O4aANEJNJ5OSUtVB7ruLeSzsS.O5tJeq',0,'2024-10-02 14:19:10',0),(4,'John','john@gmail.com','$2b$10$wQl1jWdWWf0T0xTR1wNX4e67sKZPjh98jjH3c2V3e1YBNTQNvBUua',0,'2024-10-15 04:40:48',1);

UNLOCK TABLES;
